/* Dashboard Main Content */
.dashboard-main-content {
  margin-left: 200px;
  transition: margin-left 0.4s ease-in-out;
}

/* Adjust margin when sidebar is collapsed */
.sidebar.collapsed ~ .dashboard-main-content {
  margin-left: 50px;
} 